In [1]:
import random
from random import sample
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
path_dataset = "../dataset/"
path_train_test = "../dataset/train_test/"

In [3]:
def get_value_counts_of_classes(df, df_name):
    
    print(df_name.title())
    print()
    print("Classes")
    print(df['Class'].value_counts())

In [4]:
def crea_dataset_ridotto(df):
    
    """Prendo 6000 esempi positivi e 6000 negativi, in modo da avere un dataset totale di 12000 frasi"""
    
    #lista_id da cui estrarre un campione di frasi non consecutive --> la frase 2 non segue la frase 1 --> Classe 1
    frasi_non_consecutive = list(df[df['Class'] == 1]['Id'])
    
    #lista_id da cui estrarre un campione di frasi consecutive --> la frase 2 segue la frase 1 --> Classe 0
    frasi_consecutive = list(df[df['Class'] == 0]['Id'])
    
    #campione di frasi non consecutive
    sample_frasi_non_consecutive = sample(frasi_non_consecutive, 6000)
    
    #campione di frasi consecutive
    sample_frasi_consecutive = sample(frasi_consecutive, 6000)
    
    #creo il dataset di frasi non consecutive
    df_frasi_non_consecutive = df[df.Id.isin(sample_frasi_non_consecutive)]
    
    #creo il dataset di frasi consecutive
    df_frasi_consecutive = df[df.Id.isin(sample_frasi_consecutive)]
    
    print("Controlliamo che ci siano soltanto esempi positivi e negativi nei rispettivi dataset")
    print("Dataset frasi non consecutive")
    print("Class")
    print(df_frasi_non_consecutive['Class'].value_counts())
    print()
    print("Dataset frasi consecutive")
    print("Class")
    print(df_frasi_consecutive['Class'].value_counts())
    
    #concateniamo i due dataset in modo da avere il dataset completo, non considerando gli indici,
    #in modo da mantenere comunque indici diversi fra i diversi eventi
    df_ridotto_finale = pd.concat([df_frasi_non_consecutive, df_frasi_consecutive], verify_integrity=True)
    
    print()
    print("Informazioni sulle classi del dataset ridotto")
    print(df_ridotto_finale['Class'].value_counts())
    
    return df_ridotto_finale

In [5]:
def save_dataframe(file_name, dataframe_to_save, path):
    
    try:
        dataframe_to_save.to_csv(path+file_name+".csv", index = False, sep = "\t")
        print("File salvato correttamente")
        
    except:
        print("Errore nel salvataggio")
    
    return

# Dataset originali

In [6]:
df_dist_5_with_ids = pd.read_csv("../dataset/df_TEDx_dist_5_with_ids.csv", sep = "\t")

In [7]:
df_dist_10_with_ids = pd.read_csv("../dataset/df_TEDx_dist_10_with_ids.csv", sep = "\t")

In [8]:
df_dist_20_with_ids = pd.read_csv("../dataset/df_TEDx_dist_20_with_ids.csv", sep = "\t")

In [9]:
df_dist_30_with_ids = pd.read_csv("../dataset/df_TEDx_dist_30_with_ids.csv", sep = "\t")

In [10]:
df_dist_5_with_ids

,Id,Sentence_1,Sentence_2,Class
0,83300,Quante volte sentite quello dall'altra parte c...,Non devi calpestare B per andare da A a C.,1
1,83146,Le forbici molecolari hanno tagliato la doppia...,Tant'è che un RNA guida costa poche decine di ...,1
2,23967,È semplicissimo.,Abbiamo fatto il taglio.,1
3,138269,Dovremmo semplicemente cambiare la sequenza de...,E chi ricuce?,1
4,179316,È semplice da disegnare e poi è anche material...,Ci sono vari meccanismi che la cellula utilizz...,1
...,...,...,...,...
100173,50147,"Avevo incontrato un muro, ci avevo sbattuto co...",Diagnosi di glomerulonefrite cronica da immuno...,0
100174,181833,"In teatro, se non ci sei, se non fai quello ch...","In carcere potrebbero fartela pagare, ma nel f...",0
100175,44121,"In carcere potrebbero fartela pagare, ma nel f...",Se il tuo compagno dietro le quinte non si ric...,0
100176,34673,Era come se tutto si fosse fermato.,"Avevo incontrato un muro, ci avevo sbattuto co...",0
100177,14718,"C'è una cosa che io faccio sempre, quando pren...",All'atterraggio e al decollo io guardo fuori d...,0

In [11]:
get_value_counts_of_classes(df_dist_5_with_ids, 'df_dist_5_with_ids')

Df_Dist_5_With_Ids

Classes
1    50089
0    50089
Name: Class, dtype: int64

In [12]:
get_value_counts_of_classes(df_dist_10_with_ids, 'df_dist_10_with_ids')

Df_Dist_10_With_Ids

Classes
1    50084
0    50084
Name: Class, dtype: int64

In [13]:
get_value_counts_of_classes(df_dist_20_with_ids, 'df_dist_20_with_ids')

Df_Dist_20_With_Ids

Classes
1    50074
0    50074
Name: Class, dtype: int64

In [14]:
get_value_counts_of_classes(df_dist_30_with_ids, 'df_dist_30_with_ids')

Df_Dist_30_With_Ids

Classes
1    50064
0    50064
Name: Class, dtype: int64

# Creazione dataset ridotti

In [15]:
df_dist_5_with_ids_ridotto = crea_dataset_ridotto(df_dist_5_with_ids)

Controlliamo che ci siano soltanto esempi positivi e negativi nei rispettivi dataset
Dataset frasi non consecutive
Class
1    6000
Name: Class, dtype: int64

Dataset frasi consecutive
Class
0    6000
Name: Class, dtype: int64

Informazioni sulle classi del dataset ridotto
1    6000
0    6000
Name: Class, dtype: int64

In [16]:
df_dist_10_with_ids_ridotto = crea_dataset_ridotto(df_dist_10_with_ids)

Controlliamo che ci siano soltanto esempi positivi e negativi nei rispettivi dataset
Dataset frasi non consecutive
Class
1    6000
Name: Class, dtype: int64

Dataset frasi consecutive
Class
0    6000
Name: Class, dtype: int64

Informazioni sulle classi del dataset ridotto
1    6000
0    6000
Name: Class, dtype: int64

In [17]:
df_dist_20_with_ids_ridotto = crea_dataset_ridotto(df_dist_20_with_ids)

Controlliamo che ci siano soltanto esempi positivi e negativi nei rispettivi dataset
Dataset frasi non consecutive
Class
1    6000
Name: Class, dtype: int64

Dataset frasi consecutive
Class
0    6000
Name: Class, dtype: int64

Informazioni sulle classi del dataset ridotto
1    6000
0    6000
Name: Class, dtype: int64

In [18]:
df_dist_30_with_ids_ridotto = crea_dataset_ridotto(df_dist_30_with_ids)

Controlliamo che ci siano soltanto esempi positivi e negativi nei rispettivi dataset
Dataset frasi non consecutive
Class
1    6000
Name: Class, dtype: int64

Dataset frasi consecutive
Class
0    6000
Name: Class, dtype: int64

Informazioni sulle classi del dataset ridotto
1    6000
0    6000
Name: Class, dtype: int64

In [19]:
df_dist_5_with_ids_ridotto

,Id,Sentence_1,Sentence_2,Class
7,155542,Abbiamo fatto il taglio.,"Questo DNA ""toppa"" può essere fornito da noi, ...",1
18,113574,"Per esempio, è la sequenza di un gene sano mes...",Stanno cercando di renderlo ancora più preciso...,1
27,136855,E come si fa?,"Uno dei pionieri del delivery è un italiano, L...",1
33,189953,"Quindi, iniziamo a riflettere sulle differenti...","Pensate, ad esempio, di voler confrontare tra ...",1
39,26761,La prima componente fondamentale è Cas9.,È come dire che è un manuale di istruzioni da ...,1
...,...,...,...,...
100116,146563,"Ricominciai a immaginare, a sognare, e mi face...",Avevo capito che esistevano dei lati di me ste...,0
100131,158091,Si fa tantissimo parlare in ambito pedagogico ...,"Voi immaginate che il teatro, il carcere - anc...",0
100141,173818,"""Come facciamo a chiedergli di mantenersi nel ...","""Come possiamo chiedere a qualcuno di mantener...",0
100159,19649,Lavoro anche fisico proprio in termini di sudo...,"Ecco, molti degli attori detenuti, con cui lav...",0
100172,68487,Un altro degli strumenti che da il teatro è qu...,"In teatro, se non ci sei, se non fai quello ch...",0

In [20]:
df_dist_10_with_ids_ridotto

,Id,Sentence_1,Sentence_2,Class
5,150894,Qual è il disagio che potrebbero avvertire i n...,"Nello spazio, noi facciamo fatica a raggiunger...",1
8,85573,"Se li accetti, ci vivi.",E nel tempo?,1
12,149518,"Eh beh, che da lassù, tra le lamiere spezzate ...","Ha prevalso la legge, per fortuna.",1
23,47410,E nel tempo?,"Vi ho parlato come se fossi un padre, sono il ...",1
25,132926,Nel tempo è la stessa cosa.,"Ho cinquantaquattro anni, dico.",1
...,...,...,...,...
100095,103092,Macchine autonome che ridurranno drasticamente...,Ma la vera rivoluzione in questo campo è la ro...,0
100127,54411,E come sempre avviene nel rugby c'è anche il t...,A Bologna è possibile confrontarsi tra culture...,0
100144,51558,Molte sono le sfide che ancora ci attendono e ...,Ma la vera sfida è quella di capire quali sono...,0
100148,88648,Ma la scienza ha anche un altro ruolo fondamen...,Perché un cittadino che non ha nulla a che far...,0
100149,66843,Perché un cittadino che non ha nulla a che far...,"Voltaire diceva che la dignità di un Paese, la...",0

In [21]:
df_dist_20_with_ids_ridotto

,Id,Sentence_1,Sentence_2,Class
2,142153,"""Wahaha"" La vita è una questione di scelte, e ...",Il venditore afgano ha visto esploder gambe An...,1
18,75257,Dei Nomadi Tuareg potei sperimentare la tenere...,"Ciascuna davanti ad un dromedario, stracarico ...",1
20,34540,"E imparai il silenzio, quello della notte e qu...",Erano i Nomadi Rabari che camminavano lungo la...,1
31,46792,Hai scelto bene tutte le volte che metti a dis...,"Per Mario ho i calzini di ""Fight the Stroke"" p...",1
38,143469,Quali sono le scelte migliori?,Siamo degli storyteller e amiamo raccontare st...,1
...,...,...,...,...
100070,71085,"Curiosità, passione e scoperta dell'ignoto rap...",Lo scienziato è infatti colui che osserva il m...,0
100078,160880,"I robot saranno nelle nostre case, ci aiuteran...",Macchine autonome che ridurranno drasticamente...,0
100093,51242,Quello che si fa in carcere non avviene quasi ...,Questa serra nasce grazie alla collaborazione ...,0
100111,74732,E come sempre avviene nel rugby c'è anche il t...,A Bologna è possibile confrontarsi tra culture...,0
100121,38545,Ma a cosa serve il plantoide?,A seconda dei sensori che introduciamo nella p...,0

In [22]:
df_dist_30_with_ids_ridotto

,Id,Sentence_1,Sentence_2,Class
1,192268,"È una conoscenza un po' differente, dove si ve...",Vedevamo persone soltanto in funzione di aggiu...,1
26,142854,"Attenzione, perché il computer, la velocità, l...",Poi trattate voi l'argomento come riterrete pi...,1
32,18930,"Nave giapponese ""You are destroying our boat"".",Con quali valori potrebbe crescere?,1
34,22523,"Però effettivamente perché, fin dagli albori d...",Ma lo stesso tipo di disagio lo si può rintrac...,1
39,187828,Quella di scavallare le colonne d'Ercole della...,Perché cosa conferisce valore ad una cosa?,1
...,...,...,...,...
100059,155805,Viviamo infatti nell'era dei robot che ad oggi...,Ma quanto siamo davvero lontani da un uso quot...,0
100068,9764,Quello che noi cerchiamo di fare nel carcere d...,Alcuni di loro questi strumenti non li hanno m...,0
100072,25245,A Bologna si può anche lavorare.,"La FiD è un'azienda meccanica, Fare Impresa in...",0
100098,137139,Allora quello che possiamo vedere nel mondo ch...,Molte sono le sfide che ancora ci attendono e ...,0
100101,78308,Il plantoide è anche nella sua apparenza simil...,Quindi ad esempio la ricerca dell'acqua è un t...,0

In [23]:
save_dataframe("df_dist_5_with_ids_ridotto", df_dist_5_with_ids_ridotto, path_dataset)

File salvato correttamente

In [24]:
save_dataframe("df_dist_10_with_ids_ridotto", df_dist_10_with_ids_ridotto, path_dataset)

File salvato correttamente

In [25]:
save_dataframe("df_dist_20_with_ids_ridotto", df_dist_20_with_ids_ridotto, path_dataset)

File salvato correttamente

In [26]:
save_dataframe("df_dist_30_with_ids_ridotto", df_dist_30_with_ids_ridotto, path_dataset)

File salvato correttamente

# Train and test extraction

In [27]:
def get_train_and_test(df):
    
    attributes = [col for col in df.columns if col != 'Class']
    X = df[attributes]
    y = df['Class']

    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y)

    X_train['Class'] = y_train
    X_test['Class'] = y_test
    
    print("Dettaglio delle classi nel training")
    print(X_train['Class'].value_counts())
    print()
    print("Dettaglio delle classi nel test")
    print(X_test['Class'].value_counts())
    
    return X_train, X_test

In [28]:
df_dist_5_with_ids_ridotto_train, df_dist_5_with_ids_ridotto_test = get_train_and_test(df_dist_5_with_ids_ridotto)

Dettaglio delle classi nel training
0    4800
1    4800
Name: Class, dtype: int64

Dettaglio delle classi nel test
1    1200
0    1200
Name: Class, dtype: int64

In [29]:
df_dist_10_with_ids_ridotto_train, df_dist_10_with_ids_ridotto_test = get_train_and_test(df_dist_10_with_ids_ridotto)

Dettaglio delle classi nel training
1    4800
0    4800
Name: Class, dtype: int64

Dettaglio delle classi nel test
0    1200
1    1200
Name: Class, dtype: int64

In [30]:
df_dist_20_with_ids_ridotto_train, df_dist_20_with_ids_ridotto_test = get_train_and_test(df_dist_20_with_ids_ridotto)

Dettaglio delle classi nel training
1    4800
0    4800
Name: Class, dtype: int64

Dettaglio delle classi nel test
1    1200
0    1200
Name: Class, dtype: int64

In [31]:
df_dist_30_with_ids_ridotto_train, df_dist_30_with_ids_ridotto_test = get_train_and_test(df_dist_30_with_ids_ridotto)

Dettaglio delle classi nel training
0    4800
1    4800
Name: Class, dtype: int64

Dettaglio delle classi nel test
1    1200
0    1200
Name: Class, dtype: int64

In [32]:
def control_datasets_shape(list_of_dfs_train, list_of_dfs_test, list_of_dfs_names):
    
    for train, test, df_name in zip(list_of_dfs_train, list_of_dfs_test, list_of_dfs_names):
        print("{} train shape: {}".format(df_name, train.shape))
        print("{} test shape: {}".format(df_name, test.shape))
        print()

In [33]:
control_datasets_shape([df_dist_5_with_ids_ridotto_train, df_dist_10_with_ids_ridotto_train, \
                        df_dist_20_with_ids_ridotto_train, df_dist_30_with_ids_ridotto_train], \
                       [df_dist_5_with_ids_ridotto_test, df_dist_10_with_ids_ridotto_test, \
                        df_dist_20_with_ids_ridotto_test, df_dist_30_with_ids_ridotto_test], \
                       ["df_dist_5_with_ids_ridotto", "df_dist_10_with_ids_ridotto", "df_dist_20_with_ids_ridotto", \
                       "df_dist_30_with_ids_ridotto"])

df_dist_5_with_ids_ridotto train shape: (9600, 4)
df_dist_5_with_ids_ridotto test shape: (2400, 4)

df_dist_10_with_ids_ridotto train shape: (9600, 4)
df_dist_10_with_ids_ridotto test shape: (2400, 4)

df_dist_20_with_ids_ridotto train shape: (9600, 4)
df_dist_20_with_ids_ridotto test shape: (2400, 4)

df_dist_30_with_ids_ridotto train shape: (9600, 4)
df_dist_30_with_ids_ridotto test shape: (2400, 4)

In [34]:
#df_dist_5_with_ids_ridotto_train = pd.read_csv(path_train_test + 'df_dist_5_with_ids_ridotto_train.csv', sep ="\t")
#df_dist_10_with_ids_ridotto_train = pd.read_csv(path_train_test + 'df_dist_10_with_ids_ridotto_train.csv', sep ="\t")
#df_dist_20_with_ids_ridotto_train = pd.read_csv(path_train_test + 'df_dist_20_with_ids_ridotto_train.csv', sep ="\t")
#df_dist_30_with_ids_ridotto_train = pd.read_csv(path_train_test + 'df_dist_30_with_ids_ridotto_train.csv', sep ="\t")

#df_dist_5_with_ids_ridotto_test = pd.read_csv(path_train_test + 'df_dist_5_with_ids_ridotto_test.csv', sep ="\t")
#df_dist_10_with_ids_ridotto_test = pd.read_csv(path_train_test + 'df_dist_10_with_ids_ridotto_test.csv', sep ="\t")
#df_dist_20_with_ids_ridotto_test = pd.read_csv(path_train_test + 'df_dist_20_with_ids_ridotto_test.csv', sep ="\t")
#df_dist_30_with_ids_ridotto_test = pd.read_csv(path_train_test + 'df_dist_30_with_ids_ridotto_test.csv', sep ="\t")

In [35]:
def controlla_integrita_indici_train_test(df_train, df_test):
    
    set_ids_train = set(df_train.Id)
    set_ids_test = set(df_test.Id)
    
    intersection = set_ids_train.intersection(set_ids_test)
    
    if intersection:
        return "I due dataset contengono i seguenti indici in comune: {}".format(", ".join(intersection))
    else:
        return "Intersezione vuota"

In [36]:
controlla_integrita_indici_train_test(df_dist_5_with_ids_ridotto_train, df_dist_5_with_ids_ridotto_test)

'Intersezione vuota'

In [37]:
controlla_integrita_indici_train_test(df_dist_10_with_ids_ridotto_train, df_dist_10_with_ids_ridotto_test)

'Intersezione vuota'

In [38]:
controlla_integrita_indici_train_test(df_dist_20_with_ids_ridotto_train, df_dist_20_with_ids_ridotto_test)

'Intersezione vuota'

In [39]:
controlla_integrita_indici_train_test(df_dist_30_with_ids_ridotto_train, df_dist_30_with_ids_ridotto_test)

'Intersezione vuota'

In [40]:
save_dataframe("df_dist_5_with_ids_ridotto_train", df_dist_5_with_ids_ridotto_train, path_train_test)

File salvato correttamente

In [41]:
save_dataframe("df_dist_5_with_ids_ridotto_test", df_dist_5_with_ids_ridotto_test, path_train_test)

File salvato correttamente

In [42]:
save_dataframe("df_dist_10_with_ids_ridotto_train", df_dist_10_with_ids_ridotto_train, path_train_test)

File salvato correttamente

In [43]:
save_dataframe("df_dist_10_with_ids_ridotto_test", df_dist_10_with_ids_ridotto_test, path_train_test)

File salvato correttamente

In [44]:
save_dataframe("df_dist_20_with_ids_ridotto_train", df_dist_20_with_ids_ridotto_train, path_train_test)

File salvato correttamente

In [45]:
save_dataframe("df_dist_20_with_ids_ridotto_test", df_dist_20_with_ids_ridotto_test, path_train_test)

File salvato correttamente

In [46]:
save_dataframe("df_dist_30_with_ids_ridotto_train", df_dist_30_with_ids_ridotto_train, path_train_test)

File salvato correttamente

In [47]:
save_dataframe("df_dist_30_with_ids_ridotto_test", df_dist_30_with_ids_ridotto_test, path_train_test)

File salvato correttamente

In [48]:
df_dist_5_with_ids_ridotto_train

,Id,Sentence_1,Sentence_2,Class
99065,46278,"Fortunatamente, o sfortunatamente, per noi, va...",Ma resta una disciplina quasi esoterica.,0
692,108834,Anche se dobbiamo solidarietà a queste persone...,Abbiamo dimenticato la differenza fra tolleran...,1
12129,171791,Noi siamo gli occhi e voi le braccia e le gambe.,A quell'età ero già artigiano professionista c...,1
75688,132617,Le lavoratrici allora sono divise tra chi ha t...,"Ma anche chi ha tante tutele, in realtà, non h...",0
73239,31599,"26/5/1925 - E.P, Ezra Pound"".","E poco sotto, nella stessa pagina, con una scr...",0
...,...,...,...,...
26788,61655,Ma andiamo a fare un giro in un altro posto ec...,Oggi che cosa succede?,1
74512,178051,"Il giorno dopo, ricordo la tristezza infinita,...","Al Delle Alpi piansi, come la maggior parte de...",0
21429,135109,"Lo ripeteva di continuo, un'Ave Maria dopo l'a...",Non l'aveva mai visto.,1
28195,21150,E allora come fanno gli ingegneri a progettare...,E questo potrebbe accadere in un futuro non co...,1
12042,192736,"Respira, Giulia!","Dai ragazzi ma qui c'è lo schermo, il pubblico...",1

In [49]:
df_dist_5_with_ids_ridotto_test

,Id,Sentence_1,Sentence_2,Class
24903,29327,"Goldman Prize, che è un po' il Nobel dell'ambi...","Se voi passeggiate per Cerro de Pasco, o per q...",1
43869,67142,"Nonostante sia stato terminato come progetto, ...","In più, si prestano benissimo questi moduli ad...",1
63158,9675,Non l'aveva mai visto.,Se l'era immaginato tante volte ma anche adess...,0
94044,16322,E in quel momento senza nessun dubbio abbiamo ...,"Vedete, in quel momento ho capito una cosa mol...",0
56882,71604,"I giornalisti di ProPublica, una testata inves...","Ora, come non è vero che i miei capelli rossi ...",0
...,...,...,...,...
37776,171348,Dietro però c'è stato un piano e c'è anche un ...,"Tra parentesi, la settimana scorsa vari sondag...",1
61499,180390,Succede spesso.,"Se sanguino, ovviamente la medicazione la fa l...",0
26159,195372,Perché dovremmo impegnarci in questa combinazi...,Perché impegnarci in questa combinazione di sk...,1
60520,84571,"Al contrario, in inverno, si vede la Via Latte...","Presenta meno colori, meno forme e soprattutto...",0
91389,16522,Pensate che alla fine degli anni Novanta si pe...,In realtà si è capito che eravamo solo all'ini...,0